export(makeGraph)
export(runGame)
export(run)
export(writeJSON_graph)
export(writeJSON_topscores)
export(highScores)
export(getHigh)
export(getAll)
export(getYours)
export(getLow)
export(compileBasicStatsHist)